.ui-sortable li { cursor: move; }
#sortable { list-style-type: none; margin: 0; padding: 0; width: 80%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
#sortable li span { position: absolute; margin-left: -16px; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
.numbering { padding:2px;background-color:#76AFFF !important;color:#FFF;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;font-weight:normal;font-size:9px;width:17px;text-align:center;margin-top:-2px; }
#sortable li .li_content { padding-left: 25px; }
.ui-state-default { background:#DEE9FF; border:1px solid #76AFFF; }
.ui-state-highlight { background:#F1F5FF; border:1px solid #DEE9FF; }
.ui-state-default, .ui-state-highlight { -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; }
.ui-sortable-helper {
	background-image:-moz-linear-gradient(top, #76AFFF, #4490F9) !important;
	background-image:-ms-linear-gradient(top, #76AFFF, #4490F9) !important;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#76AFFF), to(#4490F9)) !important;
	background-image:-webkit-linear-gradient(top, #76AFFF, #4490F9) !important;
	background-image:-o-linear-gradient(top, #76AFFF, #4490F9) !important;
	background-image:linear-gradient(top, #76AFFF, #4490F9) !important;
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#76AFFF', endColorstr='#4490F9', GradientType=0) !important;
	border: none !important;
	color: #FFF !important;
}
.ui-sortable-helper .numbering { color:#76AFFF; background: #DEE9FF !important; }