p
	Your judgment may be the single most
	valuable asset that your startup has.  Your judgment determines the
	decisions you make, especially those that you make when faced with
	uncertainty and ambiguity. These are the types of decisions you make
	every day in a startup.

p
	In less than 20 minutes, you can take a
	measure of your judgment—its strengths and weaknesses. We’ll give
	you tips about what you can improve and how.  Judgment is like a
	muscle; it grows stronger with the right kind of exercise.  So, think
	of this as your personal trainer. 
p
	Your FREE, personal report of your
	entrepreneurial judgment will give you actionable insight, fast. 
	Then, if you want to learn more, additional insight is also
	available… online, in a variety of succinct and affordable formats.
br  
br
p
	When you are ready to develop your most
	important asset, set aside 20 minutes to complete this two-part
	assessment of your judgment. Click here for instructions and to
	begin.
p
	Your results will be sent to you at the e-mail address you
	provide.
br
br

p
	New screen
p	
	Your e-mail:
hr
We will send your results to this e-mail address

