/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require navbar
 *= require_tree .
*/

.content_panel {
  background-color: #FFF;
  margin: 0 -20px 20px -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.30);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.30);
}

.content_header {
  background:#dee1e2;
  background-image:-moz-linear-gradient(top, #EEEEEE, #dee1e2);
  background-image:-ms-linear-gradient(top, #EEEEEE, #dee1e2);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#dee1e2));
  background-image:-webkit-linear-gradient(top, #EEEEEE, #dee1e2);
  background-image:-o-linear-gradient(top, #EEEEEE, #dee1e2);
  background-image:linear-gradient(top, #EEEEEE, #dee1e2);
  background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#dee1e2', GradientType=0);
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  /*border-bottom: 1px solid #E0E0E0;*/
}

.content {
  padding: 20px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-image:url('../assets/body_bg.jpg');
}
