// common mixins
$dirty_white: #F9F9F9;
$commets_white: #F0F0F0;
$heading_gray: #484848;
$yellow: #ffcf06;
$black: #000;
$border_color: #dbdbdb;
$default_link: #389ad5;
@mixin rad1 {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
@mixin rad2 {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
@mixin rad3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
@mixin rad4 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
@mixin rad5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
@mixin top_rad5 {
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
@mixin bot_rad5 {
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
@mixin rad5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
@mixin rad6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
@mixin fl {
	float: left;
}
@mixin fr {
	float: right;
}
@mixin f14 {
	font-size: 14px;
}
@mixin fb {
	font-weight: bold;
}
@mixin db {
	display: block;
}
@mixin dib {
	display: inline-block;
}
@mixin dn {
	display: none;
}
@mixin no_border {
	border:none;
}
@mixin ma {
	margin: auto;
}
@mixin m5 {
	margin: 5px;
}
@mixin m10 {
	margin: 10px;
}
@mixin m20 {
	margin: 20px;
}
@mixin mt5 {
	margin-top: 5px;
}
@mixin mr5 {
	margin-right: 5px;
}
@mixin mb5 {
	margin-bottom: 5px;
}
@mixin ml5 {
	margin-left: 5px;
}
@mixin mt10 {
	margin-top: 10px;
}
@mixin mr10 {
	margin-right: 10px;
}
@mixin mb10 {
	margin-bottom: 10px;
}
@mixin ml10 {
	margin-left: 10px;
}
@mixin mt20 {
	margin-top: 20px;
}
@mixin mr20 {
	margin-right: 20px;
}
@mixin mb20 {
	margin-bottom: 20px;
}
@mixin ml20 {
	margin-left: 20px;
}
@mixin p5 {
	padding: 5px;
}
@mixin p10 {
	padding: 10px;
}
@mixin p20 {
	padding: 20px;
}
@mixin pt5 {
	padding-top: 5px;
}
@mixin pr5 {
	padding-right: 5px;
}
@mixin pb5 {
	padding-bottom: 5px;
}
@mixin pl5 {
	padding-left: 5px;
}
@mixin pt10 {
	padding-top: 10px;
}
@mixin pr10 {
	padding-right: 10px;
}
@mixin pb10 {
	padding-bottom: 10px;
}
@mixin pl10 {
	padding-left: 10px;
}
@mixin pt20 {
	padding-top: 20px;
}
@mixin pr20 {
	padding-right: 20px;
}
@mixin pb20 {
	padding-bottom: 20px;
}
@mixin pl20 {
	padding-left: 20px;
}
@mixin tdn {
	text-decoration: none;
}
@mixin tdu {
	text-decoration: underline;
}
@mixin light_text {
	color: #999;
}
@mixin component {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFF;
	border: 1px solid #DDD;
	margin-bottom: 10px;
}
@mixin cp {
	cursor: pointer;
}
@mixin relative {
	position: relative;
}
@mixin absolute {
	position: absolute;
}
.no_margin_strict {
	margin: 0px !important;
}
@mixin shadow {
	-moz-box-shadow: 0px 0px 5px #AAA;
	-webkit-box-shadow: 0px 0px 5px #AAA;
	-box-shadow: 0px 0px 5px #AAA;
}
@mixin clearfix {
	clear: both;
}

@mixin component_border {
	border: 1px solid $border_color;
	@include rad5;
}

@mixin content_width {
	width: 980px;
}

@mixin success {
	background:#64d258;
	// border:1px solid #1ab00a;
}

@mixin error {
	background-color:#ffa9a9;
	// border:1px solid #ff6e6e;
}

@mixin login_links_height {
	height:32px;
	line-height:32px;
}

@mixin default_font {
	font-family: "Century Gothic Regular", Verdana, Arial;
}